<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/resume_style.css' %}">
    <script src="https://kit.fontawesome.com/b71f055dc5.js" crossorigin="anonymous"></script>

    <title>My Resume</title>
</head>

<body>
    {% for message in messages%}
    <div class="alert my-alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message: </strong> {{message}}
        <button type="button" href="/" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {%endfor%}
    <div class="container-fluid">
        <div class="nav-column">
            <div class="img-box">
                <img src="{% static 'images/akash-dp.jpg' %}" class="rounded-circle" alt="Profile">
                <h2 class="name">Akash Mothe</h2>
            </div>
            <div class="img-box-line"></div>
            <div class="nav-links">
                <ul>
                    <li class="{{home}}"><a href="/">Home</a></li>
                    <li class="{{services}}"><a href="/services/service">Services</a></li>
                    <li class="{{skills}}"><a href="/skills/skill">Skills</a></li>
                    <li class="{{contact}}"><a href="/contacts/contact">Contact Me</a></li>
                </ul>
            </div>
        </div>
        {% block content %}
        
        {% endblock content %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="{% static 'js/base.js' %}"></script> -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>