<!DOCTYPE html>
{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<section id="home-content">
    <img src="{% static 'images/akash-pot.jpg' %}" alt="Profile">
    <h1 class="hello">Hello,</h1>
    <p class="profile-para">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        I am <span>Akash Mothe</span> having 5 years of full-stack web development experience for global
        businesses, I offer the technical expertise you are seeking for your web developer position. <br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veritatis illum qui nesciunt modi
        voluptates omnis quae nihil maxime quaerat mollitia doloremque totam dolorum veniam accusantium laborum
        molestiae quod sunt maiores quisquam non, tempora at amet. Accusantium atque doloribus accusamus? Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Iusto ex fugit veritatis ducimus placeat tempore
        blanditiis sint minima doloribus minus, laborum tempora in assumenda odio eveniet corrupti culpa
        commodi? Pariatur esse natus eius exercitationem quas eligendi commodi corporis rerum doloribus.
        <br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veritatis illum qui nesciunt
        modi voluptates omnis quae nihil maxime quaerat mollitia doloremque totam dolorum veniam accusantium
        laborum molestiae quod sunt maiores quisquam non, tempora at amet. Accusantium atque doloribus
        accusamus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ex fugit veritatis ducimus
        placeat tempore blanditiis sint minima doloribus minus, laborum tempora in assumenda odio eveniet
        corrupti culpa commodi? Pariatur esse natus eius exercitationem quas eligendi commodi corporis rerum
        doloribus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, mollitia!</p>
    <div class="bottom-btns">
        <a href="/contacts/contact" class="bottom-btn hire-me">Hire Me</a>
        <a href="https://github.com/SkyCoder-ak" class="bottom-btn my-projects">My Projects</a>
    </div>
</section>
{% endblock content %}