<!DOCTYPE html>
{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<section id="skills">
    <h1 class="heading">SKILLS</h1>
    <div class="skill-row">
        <div class="skill-col">
            <h3>Python</h3>
            <div class="outer-bar">
                <div class="python"><span>95%</span></div>
            </div>
        </div>
        <div class="skill-col">
            <h3>HTML/CSS</h3>
            <div class="outer-bar">
                <div class="html-css"><span>90%</span></div>
            </div>
        </div>
    </div>

    <div class="skill-row">
        <div class="skill-col">
            <h3>JavaScript</h3>
            <div class="outer-bar">
                <div class="javascript"><span>80%</span></div>
            </div>
        </div>
        <div class="skill-col">
            <h3>Django</h3>
            <div class="outer-bar">
                <div class="jango"><span>90%</span></div>
            </div>
        </div>
    </div>

    <div class="skill-row">
        <div class="skill-col">
            <h3>Machine Learning</h3>
            <div class="outer-bar">
                <div class="machine-learning"><span>60%</span></div>
            </div>
        </div>
        <div class="skill-col">
            <h3>Deep Learning</h3>
            <div class="outer-bar">
                <div class="deep-learning"><span>50%</span></div>
            </div>
        </div>
    </div>

    <div class="skill-row">
        <div class="skill-col">
            <h3>Java</h3>
            <div class="outer-bar">
                <div class="java"><span>60%</span></div>
            </div>
        </div>
        <div class="skill-col">
            <h3>C++</h3>
            <div class="outer-bar">
                <div class="c-plus"><span>65%</span></div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}